*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

.small-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  padding-top: 0px;
}

.text {
  font-size: 18px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
}

.bill {
  display: flex;
  padding: 30px;
}
.bill-text {
  font-size: 18px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
}
.bill input {
  margin-top: 10px;
  height: 30px;
  padding-left: 5px;
  background-color: azure;
}
.bill button {
  background-color: azure;
  border: solid 2px #333333;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.bill button:hover {
  background-color: #fabbf7;
}
.bill-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #c9effe;
  padding: 20px;
  padding-top: 10px;
  border: solid;
}
.bill-left-input {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
.bill-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.search input {
  width: 500px;
  height: 40px;
  border-radius: 8px;
  padding: 5px;
  background-color: azure;
}
.search button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
}
.search button:hover {
  opacity: 0.5;
}
.search-input {
  display: flex;
  gap: 10px;
}

.import {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
  margin-left: 30px;
  gap: 50px;
  height: 100%;
}
.import-left {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  background-color: #c9effe;
  padding: 30px;
  border: solid;
  width: 500px;
}
.import-left input {
  height: 30px;
  width: 300px;
  padding-left: 5px;
  background-color: azure;
  border: #333333;
}
.import-left button {
  margin: auto;
  background-color: azure;
  border: solid 2px #333333;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.import-left button:hover {
  background-color: #fabbf7;
}
.import-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

table {
  margin-top: 20px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}

th {
  position: sticky;
  top: 0;
  padding: 12px;
  border: 2px solid #333333;
  width: 200px;
  background-color: azure;
}

td {
  padding: 12px;
  border: 2px solid #333333;
  text-align: left;
  width: 200px;
  background-color: azure;
}

tbody {
  width: 100%;
  max-height: 500px;
}

.bill .table {
  height: 300px;
  width: 500px;
}/*# sourceMappingURL=HomePage.css.map */